:root {
  --default-font-size: 17px;
  --popup-min-width: 250px;
  --popup-max-height: 600px;
  --panel-width: 250px;
}
/** defined dark mode color **/
@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #292a2d;
    --color-text: #dedfdf;
    --color-hover: #3f4042;
    --arrow-url: url('./img/icon_arrow_right_light.png');
  }
}
/** defined light mode color **/
@media (prefers-color-scheme: light) {
  :root {
    --color-bg: var(--color-bg-light);
    --color-text: #000;
    --color-hover: #e9e9e9;
    --arrow-url: url('./img/icon_arrow_right_dark.png');
  }
}
html {
  min-width: var(--popup-min-width);
  max-height: var(--popup-max-height);
  font-size: var(--default-font-size);
  background: var(--color-bg);
  color: var(--color-text);
  user-select: none;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  overflow: hidden;
}
.panel {
  position: relative;
  width: var(--panel-width);
  max-height: var(--popup-max-height);
  box-shadow: 1px 0 2px rgba(0, 0, 0, 0.2);
  transition: width 2s;
  overflow: auto;
}
/* 隐藏panel的滚动条 */
.panel::-webkit-scrollbar {
  display: none;
}

.list {
  min-height: 100%;
  padding: 8px 0;
}

.item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  cursor: pointer;
}
/* .item:hover {
  background: var(--color-hover);
} */
.item:hover::before {
  content: '';
  position: absolute;
  top: 0;
  right: 8px;
  bottom: 0;
  left: 8px;
  border-radius: 4px;
  background: var(--color-hover);
  z-index: -1;
}
.item a {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.item > div {
  display: flex;
  align-items: center;
}
.item .item__icon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  background: #eee;
}

.folder {
  position: relative;
}

.folder::after {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  background: var(--arrow-url) no-repeat center;
  background-size: contain;
}

.folder .item__icon {
  background: none;
}

a {
  width: 100%;
  text-decoration: none;
  color: var(--color-text);
  cursor: default;
}

/* 过长的文本使用省略号 */
.item__text {
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}
